<div data-role="view" data-layout="main-layout" data-init="mobileListViewFiltering" data-title="Artists">

    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-align="right" data-role="button" class="nav-button" href="#index">Index</a>
        </div>
    </header>

    <ul id="filterable-listview"></ul>
</div>

<script type="text/x-kendo-tmpl" id="mobile-listview-filtering-template">
    <div class="product">
        <h3>#:label#</h3>
    </div>
</script>

<script>
    function mobileListViewFiltering() {
        var dataSource = new kendo.data.DataSource({
            type: "odata",
            data: baseNodes,
            sort: {
                field: "label",
                dir: "asc"
            },
            group: "letter",
          
            pageSize: 50
        });

        $("#filterable-listview").kendoMobileListView({
            dataSource: dataSource,
            template: $("#mobile-listview-filtering-template").text(),
            filterable: {
                field: "label",
                operator: "startswith"
            },
            endlessScroll: true
        });
    }
</script>

<style scoped>
    .product h3 {
        font-size: 1.3em;
        line-height: 1.4em;
        margin: 0;
        padding: 0;
        height: 1.3em;
        overflow: hidden;
    }
    .product p {
        font-size: 1em;
        margin: 0;
        padding: .3em 0 0;
    }
    .pullImage {
        width: 64px;
        height: 64px;
        border-radius: 3px;
        float: left;
        margin-right: 10px;
    }
</style>
