<div data-role="view" id="places-view" data-id="places-view"
     data-layout="main-layout" data-title="Places"
     data-show="app.places.init">
    <ul>
        <li>
            <a data-role="button" data-bind="events: {click: getAlphabetically}">Alphabetically</a>
        </li>
        <li>
            <a data-role="button" data-bind="events: {click: getByLocation}">By location</a>
        </li>
    </ul>
    <ul data-role="listview" data-bind="source: places" data-template="place-template"></ul>
</div>
